body {
  margin: 0;
}

header {
  width: 100%;
  padding: 1em 3em;
  background-color: rgb(30, 64, 175);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: auto;
}

.logo h1 {
  color: white;
  font-size: 1em;
}

header nav a {
  color: white;
  text-decoration: none; /* pour enlever le soulignement */
  margin-left: 1em; /* espace entre les liens */
}

footer {
  width: 100%;
  background-color: rgb(30, 64, 175);
  padding: 1em 0;
  text-align: center;
}
